@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body{
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 13680px;
  min-height: 100vh;
  margin: 0px auto;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}